include ../partials/header 
div.container-fluid
    div.row
        div.col-md-12
            h1.blog-name #{blog.name}
            h3.blog-subname #{blog.subname}
            a(href="/users/" + blog.author.id)
                p.blog-author #{blog.author.username}
            p.blog-date készítette: #{moment(blog.createAt).fromNow()} 
            img('src'=blog.image class="img-responsive header-img")
            div.row.content-desc
                div.container.desc-container
                    div.col-md-12
                        p.blog-desc !{blog.description}
                        if currentUser
                            i.fa.fa-thumbs-o-up(id="like-button")
                            i.fa.fa-thumbs-o-down(id="dislike-button")
                            a(href="/users/" + blog.author.id)
                                if currentUser && blog.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin
                                    form(action="/blogs/" + blog._id + "?_method=DELETE" method="POST" id="delete-form")
                                        button.btn.btn-danger.delete Törlés
                                    a.btn.btn-success.btn-md.edit(href="/blogs/" +blog._id + "/edit") Modósítás
            div.container-comment
                div.row
                    div.col-md-2
                        div.add-comment-btn
                          h4.comment-title Hozzászólások
                    div.col-md-2
                        div.add-comment-btn
                            a.btn.btn-success.add-comment(role="button" data-toggle="collapse" href="#collapseComment"  aria-expanded="false" aria-controls="collapseComment")
                                i.fa.fa-comment(aria-hidden="true")
                <!--Collapse Add a comment form START-->
                div.collapse(id="collapseComment")
                    div.row
                        div.col-md-1
                        div.col-md-5
                            div.well
                                if !currentUser
                                    h5  Jelentkezz be ha hozzá szeretnél szólni.
                                    a(href="/login") Kattints ide hogy be tudj jelentkezni.
                                if currentUser
                                    h4 Írj hozzászolást 
                                    form(id="add-comment-form" action="/blogs/" + blog._id + "/comment" method="POST")
                                        div.form-group
                                            input(class="form-control" type="text" disabled 
                                            value=currentUser.username)
                                        div.form-group
                                            textarea(class="form-control" name="text" placeholder="hozzászólok..." form="add-comment-form" rows="5" cols="70")
                                        div.form-group
                                            button.btn.btn-success.btn-sm Hozzáadom 
                        div.col-md-6
                    <hr>
                if blog.comments.length === 0
                    div.row
                        div.container.container-content
                            div.col-md-2 
                                em(style="color: grey;") Még nincs hozzászólás.
                each comment in blog.comments
                    div.row
                        div.container.container-content
                            div.col-md-12
                                h4.username #{comment.author.username} 
                                p.comment-text #{comment.text}
                                p.comment-date #{moment(comment.createAt).fromNow()}
                                hr
include ../partials/footer
